.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 25px;
  width: 25px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #000016;
  padding: 2.5em 1.5em 0;
  font-size: 1.85em;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 2.5em;
  box-sizing: border-box;
}

.bm-item {
  display: inline-block;
  text-align: center;
  text-decoration: "none";
  margin-bottom: 5vh;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 700px) {
  .bm-burger-button {
    display: none;
  }
}
